/*Over all*/
body{
  min-width: 1000px;
  min-height:600px;
  background-image: url("../images/craig_powder.jpg");
  background-size: cover;
}
.container{
margin:0;
padding: 0;
width: 100%;
background-color: rgba(41, 82, 122, 0.6);
height: 100vh;
}
.row{
margin:0;
padding: 0;
}

/*Header*/
#header{
  height: 100px;
}
#header h1{
  font-size: 48pt;
  color: #29527A;
  font-weight: bold;
  font-family: 'Righteous', cursive;
  float:left;
  text-align: left;
  padding-left: 30px;
 }

/*About Search Login bar*/
#about_search_login{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 90px;
}
input{
  height: 5vw;
}

/*Search style*/
#search_container{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
#search_container input#search_box::-webkit-input-placeholder {
   color: #65737e;
}

#search_container input#search_box:-moz-placeholder {
   color: #65737e;
}

#search_container input#search_box::-moz-placeholder {
   color: #65737e;
}

#search_container input#search_box:-ms-input-placeholder {
   color: #65737e;
}
#search_container .icon{
  position: absolute;
  margin-left: 17px;
  margin-top: 15px;
  z-index: 1;
  color: #4f5b66;
}
#search_container input#search_box:hover, #search_container input#search_box:focus, #search_container input#search_box:active{
    outline:none;
    background: #ffffff;
}
#search_box{
  width:100%;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 14pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
#search_button{
  width:15%;
  max-height: 40px;
  min-height: 24px;
}

/*end search start login*/
#logged_in_name{
  font-size: 25pt;
  margin-left:30%;
  font-family: 'Righteous', cursive;
}
.logs_pages{
  width: 12%;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 14pt;
  float: left;
  color: #63717f;
  margin-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#psw, #usn{
  width: 25%;
  height: 50px;
  background: #ffffff;
  border: none;
  font-size: 14pt;
  float: left;
  color: #63717f;
  margin-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#login_button, #signup_button{
  width: 12%;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 14pt;
  float: left;
  color: #63717f;
  margin-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#logout_button, #toggle_privileges_button{
  width: 12%;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 14pt;
  color: #63717f;
  margin-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  float:left;
}




#new_fname, #new_username, #new_password{
  width: 18%;
  height: 50px;
  background: #ffffff;
  border: none;
  float:left;
  font-size: 14pt;
  color: #63717f;
  margin-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/*Main div where the content and fun stuff happens*/
/*Super User div*/
#super_div{
  background-color: rgba(41, 82, 122, 0);
  height: calc(100vh - 190px);
}
.crud{
  margin-top: 20px;
  width: 15%;
  min-height: 40px;
  background: #2b303b;
  border: none;
  font-size: 12pt;
  color: #63717f;
  margin-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.crud_form{
  width:18%;
  padding-left: 10px;
  min-height: 40px;
  background: #ffffff;
  border: none;
  font-size: 12pt;
  color: #63717f;
  margin-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#admin_resort, #admin_user{
  font-size: 30px;
  font-family: 'Hammersmith One', sans-serif;
}
.crud_header{
  font-family: 'Hammersmith One', sans-serif;
}

#about_page{
  padding: 0px;
  height: calc(100vh - 190px);
}
/*left column resort info*/
#resort_column{
  height: calc(100vh - 190px);
  position: relative;
}
#resort_info{
  height: 250px;
  margin: 0;
  padding:20px;
}
#resort_info h4{
  font-size: 30px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
}
#resort_info h2{
  font-size: 40px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
}
#URdistance{
  font-size: 40px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  padding:20px;
  padding-top: 0;
}
#wunderground{
  margin: 10px;
  position: absolute;
  bottom: 0;
  background: url(../images/wund.png) no-repeat;
  background-size: contain;
  height:50px;
  width:250px;
}
#favorite_button, #un_favorite_button{
  margin-left: 20px;
  height: 70px;
  background: #2b303b;
  border: none;
  font-size: 16pt;
  color: #63717f;
  margin-right: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/*Middle column powfactor*/
#pow_factor{
  /*border-right: 4px solid #336699;*/
  height: calc(100vh - 190px);
  margin: 0;
  padding:20px;
}
#pow_factor_info h2{
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
}
/*right column resort list*/
#resort_list{
  margin: 0;
  padding-top: 20px;
  height: calc(100vh - 190px);
  overflow: hidden;
}
#resort_header{
  padding-top: 20px;
  padding-bottom: 10px;
  height:80px;
  font-family: 'Righteous', cursive;
}
.resort{
  font-size: 24pt;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
}
#resorts_show{
  height: calc(100% - 90px);
  padding-right: 20px;
  overflow: auto;
}
#resorts_show::-webkit-scrollbar {
  display: none;
}
#favorite_list_button, #closest_list_button{
  font-size: 24pt;
}
#location_distance{
  font-size:18px;
}
#video_head{
  font-family: 'Righteous', cursive;
  text-align: center;
}
#video_1{
  max-height: calc(100vh - 260px);
}#video_1_container{
  width:100%;
  padding:0;
  height: calc(100vh - 265px);
}
