/*Over all*/
body{
  min-width: 800px;
  min-height:500px;
  background-image: url("");
}
.container{
margin:0;
padding: 0;
width: 100%;
}
.row{
margin:0;
padding: 0;
}

/*Header*/
#header{
  padding-bottom: 10px;
}
#header h1{
  font-size: 4vw;
  color: #29527A;
  height: 5vw;
  font-weight: bold;
  font-family: 'Righteous', cursive;
 }
#pp{
  float:left;
  text-align: left;
  padding-left: 30px;
}
#pm{
  float:right;
  text-align: right;
  padding-right: 30px;
}

/*About Search Login bar*/
#about_search_login{
  padding-top: 20px;
  padding-bottom: 20px;
  /*border-top: 4px solid #336699;*/
  /*border-bottom: 4px solid #336699;*/
}
input{
  height: 4vw;
}
#about_button{
  padding-left: 50px;
  font-size: 2vw;
}
#search_box{
  width:80%;
  max-height: 40px;
  min-height: 24px;
}
#search_button{
  width:15%;
  max-height: 40px;
  min-height: 24px;
}
#logged_in_name{
  font-size: 2vw;
  margin-left:20%;
}
#logout_button, #toggle_privileges_button{
  width: 18%;
  max-height: 40px;
  min-height: 24px;
  margin-left:10px;
  float:right;
}


#login_button, #signUp_button{
  width: 12%;
  max-height: 40px;
  min-height: 24px;
}
#psw, #usn{
  width: 35%;
  max-height: 40px;
  min-height: 24px;
}
#new_fname, #new_username, #new_password{
  width: 24%;
  max-height: 40px;
  min-height: 24px;
}
#new_signup,  #login_page{
  width: 12%;
  max-height: 40px;
  min-height: 24px;
}

/*Main div where the content and fun stuff happens*/
/*Super User div*/
.crud{
  margin-top: 20px;
  width: 15%;
  min-height: 24px;
}
.crud_form{
  width:18%;
  min-height: 24px;
}

#about_page{
  padding: 50px;
}
/*left column resort info*/
#resort_info{
  height: 250px;
  margin: 0;
  padding:20px;
}
#resort_info h4{
  font-size: 30px;
}
#resort_info h2{
  font-size: 40px;
}
#URdistance{
  font-size: 30px;
  padding:20px;
  padding-top: 0;
}
#wunderground{
  margin-top: 250px;
  background: url(../images/wundergroundLogo_4c_horz.jpg) no-repeat;
  background-size: contain;
  height:120px;
  width:250px;
}
#favorite_button #un_favorite_button{
  height: 50px;
}
/*Middle column powfactor*/
#pow_factor{
  /*border-right: 4px solid #336699;*/
  height: calc(91vh - 9vw);
  margin: 0;
  padding:20px;
}
/*right column resort list*/
#resort_list{
  margin: 0;
  height: calc(91vh - 9vw);
}
#resort_header{
  /*border-bottom: 4px solid #336699;*/
  padding: 20px;
}
#resorts_show{
  height:95%;
  padding: 20px;
  overflow: scroll;
}
#favorite_list_button, #resort_list_button, #closest_list_button{
  font-size: 1.8vw;
}
#location_distance{
  font-size:18px;
}

